{% include 'header.html' %}
{% load staticfiles %}


<hr>		
<div class="main" >
	<img src="{% static articles.blog_file %}" class="placeholder"/>
</div>
<br/>
<p style="color:blue;font-size:18px;"><a href="{% url 'details' articles.id %}">{{articles.title|capfirst}}</a>
        <span style="color:#000;font-size:12px;font-weight:bold">-- {{articles.created_by|capfirst}}
	</span>
</p>

<p>{{articles.body}}</p>

<p>Published on {{articles.pub_date}}</p>

<p style="font-size:12px;">
Tags:
{% for tag in articles.tags.all %}

{{tag}}
{% if not forloop.last %},{% endif %}

{% endfor %}
</p>


<hr>
<p>Readers Comments:</p>

{% for comment in comments %}
	
	<p style="color:#A52A2A">{{comment.dessription|capfirst}}</p>

	-- <p style="color:#2E8B57">{{comment.name|capfirst}}</p>
	
{% empty %}
	<p style="color:#A52A2A">Be the first to comment.</p>
{% endfor %}

{% if added %}
<h4>Your comment is awaiting moderation.Thank you for your view.</h4>
{% endif %}

<br/>
<h5>Use the form below to post your comment. </h5>



	<form action="{% url 'details' articles.id %}" method="post">{% csrf_token %}
		{{form.as_p}}
		
			<p><input type="submit" value="Post Comment"/></p>
		
	</form>



{% include 'footer.html' %}
